@charset "UTF-8";

* {
    margin: 0px;
    padding: 0px;
    font-size: 1em;
}

@font-face {
    font-family: Passion One;
    src: url(fontes/PassionOne-Regular.ttf);
}

@import url('https://fonts.googleapis.com/css2?family=Sriracha&display=swap');

h1 {
    font-family: 'Passion One';
    font-weight: bold;
}
p {
    font-family: 'Sriracha', cursive;
}

